@model IList<cadastrodeprodutos.Models.DB.Contato>

@{
    ViewData["Title"] = "Contatos";
}

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (cadastrodeprodutos.Models.DB.Contato Contato in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelContato => Contato.Id)</td>
                <td>@Html.DisplayFor(modelContato => Contato.Nome)</td>
                <td>@Html.DisplayFor(modelContato => Contato.Email)</td>
                <td>@Html.DisplayFor(modelContato => Contato.Telefone)</td>
            </tr>     
        }
    </tbody>
</table>