@model IList<cadastrodeprodutos.Models.DB.Carro>

@{
    ViewData["Title"] = "Carros";
}

<a asp-action="Novo">Criar novo</a>

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano de lançamento</th>
            <th>Ano de montagem</th>
            <th>Chassis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (cadastrodeprodutos.Models.DB.Carro carro in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelCarro => carro.Id)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Marca)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Modelo)</td>
                <td>@Html.DisplayFor(modelCarro => carro.AnoLancamento)</td>
                <td>@Html.DisplayFor(modelCarro => carro.AnoMontagem)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Chassis)</td>
            </tr>     
        }
    </tbody>
</table>