@model cadastrodeprodutos.Models.DB.Carro

@{
    ViewData["Title"] = "Novo carro";
}

<div class="rom">
    <div class="col-md-4">
        <form asp-action="Novo">
             <div class="form-group">
                <label asp-for="Marca" class="control-label">Nome</label>
                <input asp-for="Marca" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label">Nome</label>
                <input asp-for="Modelo" class="form-control" type="text" />
            </div>
             <div class="form-group">
                <label asp-for="AnoLancamento" class="control-label">Nome</label>
                <input asp-for="AnoLancamento" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="AnoMontagem" class="control-label">Nome</label>
                <input asp-for="AnoMontagem" class="form-control" type="text" />
            </div>
             <div class="form-group">
                <label asp-for="Chassis" class="control-label">Nome</label>
                <input asp-for="Chassis" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary"> 
            </div>
        </form>
    </div>
</div>